
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";



/* ==========================================================================
   #RESET
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-weight: 400;
    font-size: 16px; 
}

.page-wrapper {
    @include bg-gra-01;
    padding-top: 180px;
    padding-bottom: 180px;
}

.wrapper {
    margin: 0 auto;
    max-width: 90%;
}

.flex1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    @include radius;
    background-color: $boston-green;
    padding: 2%;
}

.report__title {
    @include font-boston-logo;
    display: flex;
    justify-content: center;
}

.maestro {
    @include font-boston-new;
    padding: 2%;
}

.datos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
}

.report__body {
    @include radius;
    background-color: $boston-green;
    padding: 1%;
}

.lists {
    width: 100%;
}

.item {
    width: 100%;
}

tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: left;
}

.hrstot {
    @include radius;
    background-color: $boston-green;
    padding: 1%;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include radius;
    background-color: $boston-green;
    padding: 1%;
}

.submit_form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.addBtn {
    padding: 0 33px;
    font-family: $boston-font-new;
    cursor: pointer;
    color: #fff;
    transition: all 0.4s ease;
    font-size: 18px;
    border-radius: 3px;
    background: #46a7b8;
}

.btnsubmit {
    padding: 0 33px;
    font-family: $boston-font-new;
    cursor: pointer;
    color: #fff;
    transition: all 0.4s ease;
    font-size: 18px;
    border-radius: 3px;
    background: #46a7b8;
}

.hours {

}