$boston-green: #006D76;
$boston-white: #FFFFFF;
$boston-black: black;
$boston-font-logo: Times;
$boston-font-new: 'Open Sans';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $boston-font-new;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 30px;
    background-color: #006D76;
}

.report__title {
    display: flex;
    justify-content: center;
    color: $boston-white;
}

.datos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    font-family: $boston-font-logo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    background-image: linear-gradient(
        to right bottom,
        rgba($boston-green, 0.8),
        rgba($boston-white, 0.8));
    background-size: cover;
    background-position: top;
}

.report__body {
    background-color: $boston-white;   
}

.lists {
    width: 100%
}

.lists thead tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: $boston-green;
    text-align: left;
}

.item {
    width: 100%
}

.item tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: $boston-white;
    text-align: left;
}

#input {
    padding: 50px;
    background-image: linear-gradient(
        to right bottom,
        rgba($boston-green, 0.8),
        rgba($boston-white, 0.8));

    display: flex;
    flex-direction: row;
    justify-content: center;

}